<%= require('./partials/_head.html') %>
<body id="about">
<%= require('./partials/_header.html') %>

<section class="about">
    <h2>Über mich</h2>
    <section class="description">
        <div class="wrapper">
            <img src="<%= require('./images/alexmayer.jpg') %>">
        </div>
        <p>In meiner Freizeit trage ich gerne Rollkragenpullis, das wiederum hindert mich nicht daran eine äußerst hübsche Webseite, so wie meine, zu erstellen. Falls Sie 
            ebenfalls gerne Rollkragenpullis tragen, dann sind Sie bei mir genau richtig. <span>Achtung!</span> Webseiten werden ausschließlich für Personen mit Liebe zu
            Rollenkragenpullover erstellt. 
        </p>
    </section>
</section>

<%= require('./partials/_footer.html') %>